
{% load staticfiles %}


<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-facebook/lib/angular-facebook.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>


<script type="text/javascript" src="{% static 'javascripts/socauth.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/socauth.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/socauth.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/auth/auth.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/auth/services/auth.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/auth/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/auth/controllers/verify.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/auth/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/story.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/dialog.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/story/story.module.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/story/services/story.service.js' %}"></script>
